/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* FONDO GRADIENTE */
body{
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #000);
    color:white;
    text-align:center;
}

/* HEADER */
header{
    padding:30px;
    font-size:22px;
    letter-spacing:2px;
}

/* NAV BOTONES */
nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    padding:20px;
}

/* BOTONES NUEVOS */
button{
    padding:12px 18px;
    border:none;
    border-radius:12px;
    background: rgba(255,165,0,0.1);
    color:orange;
    font-weight:bold;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,165,0,0.4);
    cursor:pointer;
    transition:0.3s;
}

/* HOVER PRO */
button:hover{
    background:orange;
    color:black;
    box-shadow:0 0 20px orange;
    transform:translateY(-2px) scale(1.05);
}

/* MODAL (FONDO) */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.85);
    backdrop-filter: blur(5px);
    justify-content:center;
    align-items:center;
    animation: fadeIn 0.4s;
}

/* ANIMACIÓN */
@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

/* CONTENIDO MODAL */
.contenido{
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,165,0,0.3);
    border-radius:15px;
    padding:25px;
    width:85%;
    max-height:90%;
    overflow:auto;
    backdrop-filter: blur(15px);
    box-shadow:0 0 25px rgba(255,165,0,0.3);
    animation: slideUp 0.4s ease;
}

/* ENTRADA SUAVE */
@keyframes slideUp{
    from{
        transform:translateY(50px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

/* TITULOS */
h2{
    color:orange;
    margin-bottom:10px;
}

/* BOTÓN CERRAR */
span{
    float:right;
    cursor:pointer;
    font-size:22px;
    color:orange;
    transition:0.3s;
}

span:hover{
    transform:scale(1.2);
}

/* IMÁGENES */
img{
    width:100%;
    border-radius:12px;
    margin:10px 0;
    transition:0.3s;
}

/* EFECTO IMAGEN */
img:hover{
    transform:scale(1.04);
    filter:brightness(1.2);
}

/* TEXTO */
p{
    line-height:1.6;
    margin-bottom:10px;
}
